.barra {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.barra-back {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100%;
    background-color: #0b4f8a;
    
    
    cursor: pointer;
    text-decoration: none;
}

.barra-back svg {
    width: 24px;
    height: 24px;
    stroke: #ffffff;
}

.barra-strip {
    height: 40px;
    background-color: #74b9f4;
}

.logoo{
height: 70px;
position: relative;
left: 89%;
}